<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>

    <!-- for bootstrao -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- my style -->
    <link href="css/homepage.css" rel="stylesheet">
</head>

<body>
    <div class="container-fluid">
        <div class="row h-100">
            <!-- Sezione Studenti -->
            <div class="col-lg-6 p-0">
                <div class="section student-section">
                    <div class="content-overlay">
                        <h2 class="section-title">Students</h2>
                        <div class="d-grid gap-2">
                            <a href="login/stud" class="btn btn-custom btn-student">
                                <span>Log In</span>
                            </a>
                            <a href="register/stud" class="btn btn-custom btn-outline-custom btn-outline-student">
                                <span>Sign In</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Sezione Professori -->
            <div class="col-lg-6 p-0">
                <div class="section professor-section">
                    <div class="content-overlay">
                        <h2 class="section-title">Professors</h2>
                        <div class="d-grid gap-2">
                            <a href="login/prof" class="btn btn-custom btn-professor">
                                <span>Log In</span>
                            </a>
                            <a href="register/prof" class="btn btn-custom btn-outline-custom btn-outline-professor">
                                <span>Sign In</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- bootstrap script-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

</body>
</html>